.center {
    float: none;
    margin: 2% auto;
}
.title {
    margin-top: 0;
    font-size: 1.5em;
}
.header h1{
  display: inline-block;
  margin-right: 2%;
}
.header  {
  text-align: center;
}
.header a.btn {
  padding: 10px;
  margin-top: -15px;
}
.lang p, .type p, .difficulty p {
  text-align: center;
}

/*******userName*********/
.exists-name {
  margin-top: 10px;
  margin-bottom: 30px;
}
.exists-name .pen-edit {
  width: 2.5%;
  cursor: pointer;
}
.exists-name span, .title {
  font-size: 1.8em;
}
.exists-name{
  padding: 2% 0 0 0;
}
div.new-name {
  height: auto;
  margin: 3% 0 3% 0;
}
div.new-name label {
   font-size: 1.7em;
   font-weight: normal;
}
.new-name input {
  font-size: 14px;
}
.new-name div {
  padding-right: 0px;
}
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
.pen-edit {
  margin-top: -2%;
}
/************Start radio lang******************/
.buttons-lang {
  text-align: center;
}
.box{
  display: inline-block;
}
.lang button {
  width: 130px;
  height: 130px;
  background: rgba(0,0,0,0);
  border-radius: 50%;
  border:none;
  cursor: pointer;
}
.lang button img {
   -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);
  border-radius: 50%;
}
.dropdown-item img.languages {
  width: 60px;
  border: 1px solid grey;
  border-radius: 50%;
}

.dropdown-item img.languages:hover {
   border: none;
   -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);
  border-radius: 50%;
}

ul li {
  padding: 10px;
  display: inline-block;
}
.dropdown-menu {
  background-color: rgba(240, 248, 255, 1);
  min-width: 260px;
  border-radius: 10%;
}
div.lang.last  {
  margin-left: -45px;
}
/*******************radio buttons*****************/
/*********type of game and difficulty*************/
/*type of game*/
.type label {
  opacity: .4;
}
.type label:hover {
  opacity: .8;
}
.type input:checked + label {
  opacity: 1;
  transition: all .3s;
}
/*difficulty*/
.difficulty label{
  opacity: .5;
}
.difficulty label:hover{
  opacity: .7;
}
.difficulty input:checked  + label{
  opacity: 1;
}
.difficulty input:checked  + label .img_box img {
  border-radius: 10px;
   text-shadow: 4px 4px 6px rgba(0,0,0,0.5) ;
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.5) ;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5) ;
}
/********the same***********/
.difficulty label, .type label {
  cursor:pointer;
  width: 100%;
  height: 120px;
  transition: opacity .3s;
}
.difficulty .size_img, .type  .size_img{
  height: 100px;
}
.difficulty .img_box, .type .img_box  {
  height: 80px;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.difficulty img, .type img {
  display: block;
  height: 100%;
  width:auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.difficulty .size_desc, .type .size_desc{
  text-align: center;
  height: 20px;
  font-size: 1em;
}
/**************btn start************/
.submit .btn {
  margin: 2% 0 2% 0;
}
/********wait******/
.waiting {
  margin: 4% auto;
}
.waiting h1.title-wait{
  margin-top: 3%;
}
.waiting  label {
  font-size: 2em;
}
.waiting  input {
   font-size:1.2em;
    margin: 2% 0 2% 0;
}
.waiting  .form-group.share {
  margin-top: 4%;
}
.waiting  .image-wait {
  margin: 2% auto;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5) ;
  border-radius: 20px;
  width: 60%;
}
.waiting .btn.btn-info.mainmenu{
  float: right !important;
}
.waiting .share-input {
  margin: 0 auto;
}

/******** media **********/
@media screen and (max-width: 1200px)  {
  .lang p, .type p, .difficulty p {
    text-align: left;
  }
}

@media screen and (min-width: 1024px)  {
  /*.intro span, .intro h2, .intro .link {
    font-size: 1.5em;
  }*/
  .new-name input {
     font-size: 20px;
     padding: 20px 10px 20px 10px;
  }
}
@media screen and (max-width: 992px)  {
  .title {
    margin-top: 15%;
  }

  .exists-name span, .title {
    font-size: 1.5em;
  }
  .exists-name .pen-edit {
    width: 7%;
  }
  .difficulty label, .type label {
    height: 100px;
  }
  .difficulty .size_img, .type .size_img{
    height: 90px;
  }
  .difficulty .size_desc, .type .size_desc {
    height: 10px;
    font-size: .9em;
  }
   .difficulty .img_box, .type .img_box{
    height: 70px;
  }
  .title {
    font-size: 1.2em;
  }
  .waiting  .image-wait {
    width: 55%;
  }



}
@media screen and (max-width: 768px)  {
  .title {
    margin-top: 7%;
  }
  .lang button {
    width: 110px;
    height: 110px;
  }
  .dropdown-item img.languages {
    width: 40px;
  }
  ul li {
    padding: 10px;
  }
  .dropdown-menu {
    min-width: 195px;
  }
  .title {
    font-size: 1em;
  }
  .waiting  .image-wait {
    width: 75%;
  }
}
@media screen and (max-width: 500px)  {
  h1{
    font-size: 2em;
  }
  .waiting h1.title-wait{
    font-size: 1.5em;
  }
  .exists-name span, .title, div.new-name label {
    font-size: 1em;
  }
  /*div.new-name label {
    padding: 1% 0 1% 0;
  }*/
  .difficulty label, .type label {
    height: 80px;
  }
  .difficulty .size_img, .type .size_img {
    height: 60px;
  }
  .difficulty .size_desc, .type .size_desc{
    height: 20px;
    font-size: .7em;
  }
  .difficulty .img_box, .type .img_box{
    height: 45px;
  }
  .title {
    margin-top: 10%;
  }
  div.new-name .username, .title  {
     margin-left: -15px;
  }
  label.username {
   text-align: left;
  }
  .difficulty input:checked  + label .img_box img {
    border-radius: 5px;
  }
  .form-group {
    margin: 0 auto;
  }
  .exists-name {
    margin-bottom: 20px;
  }
  .lang button {
    width: 80px;
    height: 80px;
  }
  .dropdown-item img.languages {
    width: 27px;
  }
  ul li {
    padding: 6px;
  }
  .dropdown-menu {
    min-width: 120px;
  }
  .waiting  label {
    font-size: 1.1em;
  }
  .waiting  input {
    font-size:.8em;
  }
  .waiting  .image-wait {
    width: 100%;
    margin: 5% auto;
  }
  .waiting .mainmenu {
    margin: 0px 0 20px 0;
  }
  .header a.btn {
    padding: 5px;
    margin-top: -10px;
  }
  .dropdown-item img.languages {
    border: none;
    -webkit-box-shadow: 0 0 7px 1px rgba(0,0,0,0.5) ;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.5);
    border-radius: 50%;
  }
}
@media screen and (max-width: 320px)  {
  h1{
    font-size: 1.8em;
  }
}
