<div class="create_game center">
   <div class="row">
      <h1 class="text-center">Word-Camp Game</h1>
    </div>

  <form [formGroup]="menuGame" (ngSubmit)="onSubmit($event)">

    <div class="form-group exists-name" *ngIf="!isEditing">
      <div class="col-xs-12 text-center">
        <span>Hello, <strong>{{userName}}</strong>!</span>
        <img src="/assets/img/pen.png" title="Edit name" (click)="setStateIsEditing()" class="pen-edit">
      </div>
       <div class="clearfix"></div> 
    </div>

    <div class="form-group has-success new-name"  *ngIf="isEditing">
        <label for="username" class="username col-xs-6 col-sm-6 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3 text-success text-center">Enter New Name</label>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <input type="text" placeholder="username" autocomplete="off" class="form-control center-block" id="username" required name="username" formControlName="username">
        </div>
        <div class="clearfix"></div>        
    </div>

    <div class="form-group type">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-5">
        <p class="title">Choose Type Of Game:</p>
      </div>

      <div class="col-lg-offset-0  col-md-offset-0  col-sm-offset-0 col-lg-4 col-md-4 col-sm-3  col-xs-offset-0 col-xs-3 ">
        <input hidden type="radio" id="single" value="single" name="type" formControlName="type">
        <label class="single" for="single"><img class="type-human" src="/assets/img/human1.png"></label>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
        <input hidden type="radio" id="multi" value="multi" name="type" formControlName="type">
        <label class="multi" for="multi"><img class="type-human" src="/assets/img/human2.png"> </label>
      </div>
      
      <div class="clearfix"></div>
    </div>

    <!--<div class="form-group lang row">
      <p class="crafty_girls title">Choose Languages:</p>

      <input hidden type="radio" id="en_ru" value="en_ru" name="languages" formControlName="languages">
      <label class="en_ru" for="en_ru"></label>

      <input hidden type="radio" id="en_de" value="en_de" name="languages" formControlName="languages">
      <label class="en_de" for="en_de"></label>

      <input hidden type="radio" id="de_ru" value="de_ru" name="languages" formControlName="languages">
      <label class="de_ru" for="de_ru"></label>

      <div class="clearfix"></div>
    </div>-->

    <div class="form-group difficulty">

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <p class="title">Choose Difficulty:</p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
        <input hidden type="radio" id="small" value="small" name="difficulty" formControlName="difficulty">
        <label class="small" for="small">
          <div class="col-lg-12">
            <img class="type-difficulty" src="/assets/img/small.jpg">
          </div>
          <div class="col-lg-12">
            <span>4x4</span>
          </div>
        </label>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <input hidden type="radio" id="medium" value="medium" name="difficulty" formControlName="difficulty">
        <label class="medium" for="medium">
          <div class="col-lg-12">
           <img class="type-difficulty" src="/assets/img/medium.jpg">
          </div>
          <div class="col-lg-12">
            <span>6x4</span>
          </div>
        </label>
      </div>

       <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <input hidden type="radio" id="large" value="large" name="difficulty" formControlName="difficulty">
        <label class="large" for="large">
          <div class="col-lg-12">
           <img class="type-difficulty" src="/assets/img/large.jpg">
          </div>
          <div class="col-lg-12">
            <span>8x5</span>
          </div>
        </label>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="submit">
      <button type="submit" class="btn btn-info pull-right">START GAME</button>
    </div>

  </form>

</div>