.field {
  min-height: 768px;
  width:100%;
  padding: 5% 0 0;
  position: relative;
}

.row{
  text-align: center;
  margin: auto;
}

.flipper {
  perspective: 1000;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin: 10px;
  box-sizing: border-box;
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 30%;
  opacity: .8;
  line-height: 110px;
  font-size: 20px;
}


.card, .word {
  box-sizing: border-box;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

.card {
  cursor: pointer;
  z-index: 2;
  background: url("/assets/img/sky.jpg") no-repeat;
  background-size: cover;
}


.active .flipper{
  border: 2px solid #6de5b6;
  box-shadow: 0px 1px 10px 0px #130c0c;
  opacity: 1;
}

.card img {
  width: inherit;
  height: inherit;
}

.word {
  color: black;
  text-align: center;
  transform: rotateY(180deg);
  background:  linear-gradient(top, white,#C1CDCD);
  transition: color .3s ease-in-out .3s;
}


.flipper.open {
  transform: rotateY(180deg);
}

.word.isHide{
  color: #C1CDCD;
  transform: rotateY(180deg);
}

@media (min-width: 1200px)  {

  .large .row{
    width: 1040px;
  }


  .medium .row{
    width: 780px;
  }


  .small .row{
    width: 520px;
  }
}


@media (min-width: 992px)  {

  .large .row{
    width: 970px;
  }


  .medium .row{
    width: 780px;
  }

  .small .row{
    width: 520px;
  }

  .large .flipper {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

}

@media (min-width: 768px)  {

  .flipper {
    font-size: 18px;
  }

  .medium .flipper {
    width: 95px;
    height: 95px;
  }

  .small .row{
    width: 520px;
  }

}

@media (max-width: 767px)  {

  .flipper {
    font-size: 16px;
  }

  .medium .row{
    width: 520px;
  }

  .medium .flipper {
    width: 110px;
    height: 110px;
  }

  .small .row{
    width: 520px;
  }

}



@media (max-width: 680px)  {

  .large .flipper {
    width: 95px;
    height: 95px;
  }

}


@media (max-width: 590px)  {

  .large .flipper {
    width: 85px;
    height: 85px;
    margin: 7px;
  }

  .medium .row{
    width: 100%;
  }

  .medium .flipper, .small .flipper {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  .small .row{
    width: 100%;
  }

}

@media (max-width: 510px)  {

  .large .flipper {
    width: 75px;
    height: 75px;
    line-height: 75px;
  }

  .medium .flipper, .small .flipper {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }

}

@media (max-width: 450px)  {

  .flipper {
    font-size: 14px;
  }

  .large .flipper {
    width: 65px;
    height: 65px;
    line-height: 65px;
  }

  .medium .flipper, .small .flipper {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

}

@media (max-width: 400px)  {

  .large .flipper {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

  .medium .flipper, .small .flipper {
    width: 70px;
    height: 70px;
    margin: 7px;
    line-height: 70px;
  }

}

@media (max-width: 350px)  {

  .flipper{
    font-size: 12px;
  }

  .large .flipper {
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
  }

  .medium .flipper, .small .flipper {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

}
