<app-sidebar></app-sidebar>

<div class="field" [class.active] ="activeField"  [class.small] ="difficulty.small" [class.medium] ="difficulty.medium" [class.large] ="difficulty.large">
  <div class="row">
    <div class="flipper"  *ngFor="let card of field" [class.open] ="card.isOpen">
      <div class="card" [class.isOpen] ="card.isOpen" (click)="openCard(card)"></div>
      <div class="word" [class.isHide]="card.isHide">
        {{card.word}}
      </div>
    </div>
  </div>
</div>


<div class="waiting_container" *ngIf="isWait">

  <h1 class="text-center title_waiting">Share link to your friend or use QR-code:</h1>

  <div class="waiting_content">

    <div class="form-group share_link_box">
      <input type="text" class="share_link" id="share_link" [value]="shareAbleLink">
      <button class="btn btn-primary copy" (click)="copyLink($event)"><span>Copy text</span></button>
    </div>


    <div class="qrcode_box">
      <img [src]="qrCodeLink" />
    </div>

    <p class="text_waiting">Waiting . . .</p>

  </div>

  <button class="btn btn-danger cancel" (click)="goToMainMenu()">Cancel</button>

</div>

<div *ngIf="isWait" class="overlay"></div>
