<router-outlet></router-outlet>

<div class="settings">

  <div class="start_box" *ngIf="!isWait">

    <div class="row">
      <h1 class="text-center">Welcome to Word-Camp</h1>
    </div><!--row-->

    <div class="row">
      <div class="col-xs-12 intro" *ngIf="isNewUser && isMainMenuPage">
        <h2 class="col-xs-12 text-center">Hello, My Dear Friend!!!</h2>
        <span class="col-xs-12 text-center bold">Here you can learn new words and challenge each other!</span>
        <span class="col-xs-12 text-left">Here you can learn new words and challenge each other! Here you can learn new words and challenge each other!
          Here you can learn new words and challenge each other! Here you can learn new words and challenge each other!
        </span>
      </div>
    </div><!--row-->

    <div class="row">
      <div class="name form-group has-success">
        <label for="username" class="col-xs-6 col-sm-6 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 text-success text-center">Enter Your Name</label>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <input type="text" placeholder="Enter" class="form-control center-block" id="username" required name="username">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <a class="btn btn-info center-block next-step" (click)="sendUserToSingleMenu()">Next step</a>
        </div>
      </div> 

       <a class="link col-xs-12 text-center" (click)="showVideo($event)">Show intro video↓</a>
    </div><!--row-->


    <div class="row">
      <div class="col-xs-12" *ngIf="isOpenVideoIntro">
        <img class="center-block intro-gif" src="assets/img/wait.gif">
      </div>
    </div><!--row-->

  

      <!--<nav class="col-sm-12 col-md-12 col-xs-12 menu">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
          <a (click)="hideIntroForUser()" routerLink="/mainmenu/single" routerLinkActive="active" class="btn btn-info btn-lg link">New Game</a>
        </div>
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6  col-xs-12">
          <a (click)="hideIntroForUser()" routerLink="/mainmenu/multi" routerLinkActive="active" class="btn btn-info btn-lg link">Open Games</a>
        </div>
      </nav>

      <router-outlet></router-outlet>-->
   

  </div><!--start_box-->

  <div class=" waiting start_box" *ngIf="isWait">

    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="mainmenu btn btn-info btn-lg" (click)="goToMainMenu()">Main menu</a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h1 class="title-wait text-center">Wait for second user=)</h1>
      </div>
    </div>

    <div class="row">
      <div class="form-group share">
        <label for="share_link" class="col-xs-12 col-md-5 control-label text-center">Share link to friend:</label>
        <div class="col-xs-12 col-md-7 share-input">
          <input type="text" class="form-control center-block" id="share_link" [value]="shareAbleLink">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <img class="center-block image-wait" src="assets/img/wait.gif">
      </div>
    </div>

  </div>

</div>
