<router-outlet></router-outlet>

<div class="settings">

  <div class="start_box" >

    <div class="row">
      <h1 class="text-center text-info">Welcome to Word-Camp</h1>
    </div><!--row-->

    <div class="row">
      <div class="col-xs-12  intro">
        <h2 class="col-xs-12 text-center">Hello, My Dear Friend!!!</h2>
        <span class="col-xs-12 text-center bold">Here you can learn new words and challenge each other!</span>
        <span class="col-xs-12 text-justify">Here you can learn new words and challenge each other! Here you can learn new words and challenge each other!
          Here you can learn new words and challenge each other! Here you can learn new words and challenge each other!
        </span>
      </div>
    </div><!--row-->

    <div class="row">
      <div class="name form-group has-success">
        <label for="username" class="col-xs-6 col-sm-6 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 text-success text-center">Enter Your Name</label>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <input type="text" placeholder="Enter" autocomplete="off" class="form-control center-block" id="username" required name="username" [(ngModel)]="userName">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <a class="btn btn-info center-block next-step" (click)="sendUserToSingleMenu()">Next step</a>
        </div>
      </div> 

       <a class="link col-xs-12 text-center" (click)="showVideo($event)">Show intro video↓</a>
    </div><!--row-->


    <div class="row">
      <div class="col-xs-12 block-gif" *ngIf="isOpenVideoIntro">
        <img class="center-block intro-gif" src="assets/img/wait.gif">
      </div>
    </div><!--row-->   

  </div><!--start_box-->

</div>