.routing div.select.options div, .routing div.select .multi, .routing div.select .single  {
  padding: 2% 0px 2% 0px ;
}
img {
  height: 150px;
}
div a {
  width: 320px;
}
.select div, .options div {
  text-align: center;
}
h1 {
  font-size: 4em;
}
.select p {
  color: #000;
  font-size: 2em;
}
a {
  background-color: rgba(0,0,0,0);
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.5) ;
}
a:hover {
   box-shadow: 0 0 8px 3px rgba(70,130,180,0.5) ;
}
/******options******/


/*****single*** multi*****/


/******** media **********/
@media screen and (max-width: 992px)  {
  h1 {
    font-size: 3em;
  }
  .select p {
    font-size: 1.6em;
  }
  img {
    height: 100px;
  }
  div a {
     width: 100%;
  }
}
@media screen and (max-width: 500px)  {
  h1{
    font-size: 2em;
  }
  .select p {
    font-size: 1.3em;
  }
  img {
    height: 70px;
  }
  div a {
     width: 100%;
  }
}
@media screen and (max-width: 320px)  {
  h1{
    font-size: 1.8em;
  }
  .select p {
    font-size: 1em;
  }
  img {
    height: 60px;
  }
  div a {
    width: 100%;
  }
}